.pageProperty {
  display: flex;
  height: 100vh;
  /* overflow: hidden; */
  /* height: 100%; */
  /* overflow-y: auto; */
}

.main {
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  background-color: #F1F1F1;
}

.surveyInformation{
    display: flex;
    background-color: #F1F1F1;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
    /* gap: 10%; */
    
}

.empty {
  margin-top: 10%;
  text-align: center;
  height: 100px;
  justify-content: center;
  color: #bbb;
  font-weight: bold;
  font-size: 20px;
}

.surveyDesc {
  font-size: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.roundedRec {
  font-size: 1em;
  font-weight: bold;
  border-radius: 20px;
  padding: 0.5% 2%;;
  color: #fff;
  background-color: #E07961;
  width:fit-content;
  margin-left: 10px;
}

.surveyDescHeader {
  font-size: 1.2em;
  font-weight: bold;
  /* text-decoration: underline; */
}

.surveyInfoLeft{

    vertical-align:middle;
    align-items: center;
    max-width: 60%;
}

.surveyInfoRight {
    margin-top: 75px;
    width: fit-content;
    white-space: nowrap;
    margin-right: 10%;
}

.surveyTitle{
    font-weight: 625;
    font-size:  45px;
    margin: 7px;
}
.surveyInfoText {
    font-weight: 625;
    font-size: 25px;
    margin: 5px;
  
}

.downloadCSVText {
    font-weight: 625;
    font-size: 25px;
    margin: 5px;
    color:#E07961;
}


.surveyTitleBack{
    display:flex;
    align-items: center;
}

.banner {
    background-color: #E07961;
    height:100px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.bannerTitle {
    margin-left: 35px;
}
.bannerTitleChild {
    font-size: xx-large;
    font-weight: bold;    
    display: inline-block;    
}

.bannerKita {
    color: white;
}

.builderName {
    margin-right: 90px;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.tableDiv {
  background-color: #F1F1F1;
  /* background-color: black; */
  justify-content: center;
  display: flex;
  flex-flow: column;
  /* height: 100%; */
  /* padding: 70px; */
  overflow-x: auto;
  overflow-y: auto;
  /* width: 100%; */
  margin: 0px 70px 70px 70px;
}

.table {
  /* overflow-y: auto; overflow-x: auto; */
  width: 100%;
  border-collapse: collapse;
  /* table-layout: fixed; (removed) */
}

.tableHeader {
  background-color: #F1F1F1;
  font-size: 130%;
  font-weight: bold;
  text-align: left;
  padding: 10px;
  word-wrap: break-word;
  white-space: normal; 
  max-width: 200px;
}

.tableCell {
  background-color: #FFFFFF;
  border-bottom: 3px solid #F1F1F1;
  font-size: 100%;
  font-weight: 400;
  white-space: nowrap; /* Added */
  padding: 10px; /* Increased padding */
  overflow: hidden;
  overflow-wrap: break-word;
  max-width: 20px;
}

.tr:hover {
  background-color: pink;
}

.nothingDiv {
    justify-content: center;
    /* background-color: pink; */
    display:flex;
}
.nothingH2{
    font-size: 80px;
    align-self: center;
    font-weight: bold;
    margin-top: 10%;

}